::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgb(255, 255, 255, 0.1);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255, 0.4); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255, 0.8); 
}


/* INDICE */
body{
    background-color: #8ee048;
}
.fondo{
    background-image: url(../multimedia/indice/fondoIndice.jpg);
    background-position: top center;
	background-size:cover;
	background-repeat: no-repeat;
    width: 100%;
    position:absolute;
    z-index: -1;
}

.menuPosHorizontal{
    display: flex;
    justify-content: center;
}

.menu{
    background-color: white;
    width: 20vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    margin: 20vw 0 5vw 0;
    border-radius: 2rem;
}

.botones{
    margin-top: 30px;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.botones img{
    margin: 25px 0;
}

.botones img:hover{
    transform: scale(1.4);
}

/* JUEGO */
.fondoJugar{
   background-color: #51a4fe;
}
header{
    display: flex;
    box-shadow: 0px  40px 20px #4a98fd;
}
header img{
    height: 70px;
    margin: 20px 0 0 20px;
}
h1{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 40px;
    margin: 30px auto;
}

p{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 20px;
    margin: 10px 0 0 0;
}

.centrar{
    text-align: center;
}

.marginTop{
    margin-top: 15vh;
}

.adivinarNumero{
    font-family: 'Roboto', sans-serif;
    color: #6cc6ff;
    font-size: 75px;
    font-weight: 600;
    border: none;
    text-align: center;
    width: 115px;
    height: 100px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 15px #6cc6ff;
    margin: 10px 15px;
}
.adivinarNumero:focus{
    outline:none;
    box-shadow: 0 0 4px #5b59b6, 0px 15px #6cc6ff;
}

.flex{
    display: flex;
    justify-content: space-around;
}

button{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.5vw;
    font-weight: 500;
    width: 13vw;
    height: 6vh;
    border: none;
    border-radius: 10px;
    cursor:pointer;
    margin: 3vh 10px;
/*     margin-left: 60px; */
}

.btn__violeta{
    background: linear-gradient(to right, #d798ff, #9f77fe);
    box-shadow: 0px 12px #847ffe;
}


.btn__violeta:hover {
    background: #9f77fe;
}

.btn__violeta:active {
    background: #9f77fe;
    box-shadow: 0px 8px #6966cc;
    transform: translateY(4px);
}

.btn__naranja{
    background: linear-gradient(to right, #fbc246, #fe9860);
    box-shadow: 0px 12px #eb804a;
}
.btn__naranja:hover{
    background: #fe9860;
}
.btn__naranja:active{
    background: #fe9860;
    box-shadow: 0px 8px #b16037;
    transform: translateY(4px);
}

.btn__verde{
    background: linear-gradient(to right, #8ee048, #65cd5d);
    box-shadow: 0px 12px #56c448;
}
.btn__verde:hover{
    background: #65cd5d;
}
.btn__verde:active{
    background: #65cd5d;
    box-shadow: 0px 8px #429636;
    transform: translateY(4px);
}

.btn__rosa{
    background: linear-gradient(to right, #ffa0d4, #ff6bce);
    box-shadow: 0px 12px #c35495;
}
.btn__rosa:hover{
    background: #ff6bce;
}
.btn__rosa:active{
    background: #ff6bce;
    box-shadow: 0px 8px #944171;
    transform: translateY(4px);
}

.toroVaca{
    width: 80px;
    height: 80px;
    border-radius: 10px;
    background-image: linear-gradient(to top, #4b99fd, #4185f7);
    margin: 0 15px;
}
.flexToroVaca{
    display: flex;
    justify-content:flex-end;
    margin: 30px 25px 15px 0;
}
.respuestas{
    /* margin: 50px 60px 0 60px; */
    width: 40vw;
    height: 500px;
    overflow-y: scroll;
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 15px;
}
.filaAdivinada{
    margin: 10px 0 10px 20px;
}

.numeroAdivinado{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 45px;
    border: none;
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 20px;
    background-image: linear-gradient(to top, #4b99fd, #4185f7);
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.numberAnswer{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 45px;
    border: none;
    text-align: center;
    width: 200px;
    height: 80px;
    border-radius: 20px;
    background-image: linear-gradient(to top, #4b99fd, #4185f7);
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-spacing: 0.5em
}

#errores {
/*     margin-top: 3px; */
    height: 50px;
}
#errores p{
    color: red;
    font-weight: 500;
    background-color: #6cc6ff;
    padding: 2px 0;
}

#contenedorAdivinarNum{
    margin-bottom: 2vh;
}

.botonesRendirseReiniciar{
    margin-top: 100px;
    display: flex;
}
.ternerito{
    width: 65%;
    padding-left: 2vw;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */

}
  .fondoGanaste{
    background-image: url(../multimedia/jugar/ganaste.svg);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
  }

  .margen{
      padding-top: 38vh;
  }

  /* Modal Content/Box */
  .modal-content {
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 40%; /* Could be more or less, depending on screen size */
/*     height: 30vh;     */
}
  
  /* The Close Button */
  .close { 
    color: #aaa;
    float: right;
    font-size: 50px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .suerteImg{
    display: none;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 10%;
    width: 30%;
  }

  #nombreUsuario{
      background:linear-gradient(to right, #7ebb3b, #64b44c);
      border-color: white;
      border-style: solid;
      border-radius: 10px;
      width: 90%;
      height: 30px;
      font-size: 17px;
  }

  h2{
    font-family: 'Roboto', sans-serif;
    color: #74ba5c;
    font-size: 50px;
    margin: 0 0;
  }

  h3{
    font-family: 'Roboto', sans-serif;
    color: #69514c;
    font-size: 25px;
    margin: 15px 10px 10px 0;
  }
  h4{
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 10px 0 30px;
  }

  #rta{
    color: #69514c;
    padding: 10px 0;
  }
  .rta{
      margin-top: -10px;
  }

  .flexCentrado{
      display: flex;
      justify-content: center;
  }
  .flexStart{
    display: flex;
    justify-content: flex-start;
}

  .negro{
      color: black;
  }

  .escribi{
      color: white;
      font-weight: 400;
      text-align: start;
      margin-bottom: 10px;
  }
 input::placeholder{
     padding-left: 10px;
 }
.intentos{
    margin-top: 10px;
}
#sabias{
    font-style: italic;
}
#escribirNombre p{
    color: red;
}
/* .altura{
    height: 100px;
} */

.modal-rendirse{
    background: linear-gradient(to right, #8ee048, #65cd5d);
    border-radius: 2em;
}
#rtaRendirse{
    background-color: white;
    margin-top: 20px;
    padding: 10px 50px;
    border-radius: 2em;
}

.elegirNivel{
    border: 3px solid white;
    width: 30%;
    height: 200px;
    border-radius: 20px;
    margin: 100px auto;
}

.blanco{
    color: white;
}

.nivelCuadrados{
    color: #6cc6ff;
    width: 55px;
    height: 50px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 10px #6cc6ff;
    margin: 10px 5px;
}

.nivelLineas{
    border: 2px solid white;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: 10px 5px;

}

.cursor{
    cursor: pointer;
}

.masMenos{
    width: 10%;
    margin: auto 10px;
}

.puntajes{
    width: 65vw;
    height: 500px;
    overflow-y: scroll;
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 15px;
    margin: 10px auto;
    padding: 10px 10px;
}

.flex-vertical{
    display: flex;
    flex-direction: column;
    margin-top: 56px;
}

.btn__borde{
    border: 1px solid white;
    background-color: rgb(255, 255, 255, 0.1);
}

.btn__seleccionado{
    background-color: #4185f7;
}

.titulosPuntaje{
    margin-top: 20px;
    width: 65vw;
}

.width{
    width: 100%;
}

.margenIzq{
    margin-left: 60px;
}

.imgSize{
    height: 5em;
    margin: 20px 30%;
}

.imgSizeG{
    height: 10em;
    margin: 20px 30%;
    
}

.instrucciones{
    width: 65vw;
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 15px;
    margin: 50px auto;
    padding: 30px 50px;
}

.flecha{
    height: 5em;
}

.flechas{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}