body{
    background-color: #51a4fe;
}

::-webkit-scrollbar {
    width: 1.5vw;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 1vw;
    background: rgb(255, 255, 255, 0.1);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255, 0.4); 
    border-radius: 1vw;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255, 0.8); 
}

/* Tipografias */
h1{
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 30px auto;
}

p{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 20px;
    margin: 10px 0 0 0;
}

h2{
    font-family: 'Roboto', sans-serif;
    color: #74ba5c;
    font-size: 50px;
    margin: 0 0;
}

h3{
    font-family: 'Roboto', sans-serif;
    color: #69514c;
    font-size: 25px;
    margin: 15px 10px 10px 0;
  }

h4{
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 10px 0 30px;
}

h5{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 35px;
}

input{
    font-family: 'Roboto', sans-serif;
}

/* Colores */
.negro{
    color: black;
}
.blanco{
    color: white;
}

/* Flex */
.flexCenter{
    display: flex;
    justify-content: center;
}

.flex{
    display: flex;
    justify-content: space-around;
}

.flexColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flexStart{
    display: flex;
    justify-content: flex-start;
}

.centrar{
    text-align: center;
}

.margenIzq{
    margin-left: 3vw;
}

/* Botones */
button{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.5vw;
    font-weight: 500;
    width: 13vw;
    height: 6vh;
    border: none;
    border-radius: 0.5vw;
    cursor:pointer;
    margin: 3vh 1vw;
}

.btn__violeta{
    background: linear-gradient(to right, #d798ff, #9f77fe);
    box-shadow: 0 1.5vh #847ffe;
}

.btn__violeta:hover {
    background: #9f77fe;
}

.btn__violeta:active {
    background: #9f77fe;
    box-shadow: 0px 1vh #6966cc;
    transform: translateY(0.5vh);
}

.btn__naranja{
    background: linear-gradient(to right, #fbc246, #fe9860);
    box-shadow: 0 1.5vh #eb804a;
}
.btn__naranja:hover{
    background: #fe9860;
}
.btn__naranja:active{
    background: #fe9860;
    box-shadow: 0px 1vh #b16037;
    transform: translateY(0.5vh);
}

.btn__verde{
    background: linear-gradient(to right, #8ee048, #65cd5d);
    box-shadow: 0 1.5vh #56c448;
}
.btn__verde:hover{
    background: #65cd5d;
}
.btn__verde:active{
    background: #65cd5d;
    box-shadow: 0 1.5vh #429636;
    transform: translateY(0.5vh);
}

.btn__rosa{
    background: linear-gradient(to right, #ffa0d4, #ff6bce);
    box-shadow: 0 1.5vh #c35495;
}
.btn__rosa:hover{
    background: #ff6bce;
}
.btn__rosa:active{
    background: #ff6bce;
    box-shadow: 0px 1vh #944171;
    transform: translateY(0.5vh);
}

.btn__borde{
    border: 1px solid white;
    background-color: rgb(255, 255, 255, 0.1);
}

.btn__seleccionado{
    background-color: #4185f7;
}

.cursor{
    cursor: pointer;
}

/* INDICE */
.fondoVerde{
    background-color: #8ee048;
    z-index: -2;
 }

.fondo{
    background-image: url(../multimedia/indice/fondoIndice.jpg);
    background-position: top center;
	background-size:cover;
	background-repeat: no-repeat;
    width: 100%;
    position:absolute;
    z-index: -1;
}

.menu{
    background-color: white;
    width: 20vw;
    height: 50vh;
    margin: 20vw 0 5vw 0;
    border-radius: 2vw;
}

/* JUEGO */
header{
    display: flex;
    box-shadow: 0 4vh 5vh #4a98fd;
}

header img{
    height: 8vh;
    margin: 2vh 0 0 2vw;
}

.marginTop{
    margin-top: 7vh;}

.ternerito{
    width: 65%;
    padding-left: 2vw;
    padding-right: 1vw;
    margin-top: 4vh;
}

.flexToroVaca{
    display: flex;
    justify-content:flex-end;
    margin: 6vh 3vw 3vh 0;
}

.toroVaca{
    width: 5vw;
    height: 11vh;
    border-radius: 0.5vw;
    background-image: linear-gradient(to top, #4b99fd, #4185f7);
    margin: 0 1vw;
}

.respuestas{
    width: 40vw;
    height: 60vh;
    overflow-y: scroll;
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 1vw;
}

#errores {
    height: 6vh;
}

#errores p{
    color: red;
    font-weight: 500;
    background-color: #6cc6ff;
    padding: 0.3vh 0;
}

/* en Js */
.filaAdivinada{
    margin: 1.2vh 0 1vh 1vw;
}

.numeroAdivinado{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 45px;
    border: none;
    text-align: center;
    width: 5vw;
    height: 10vh;
    border-radius: 1vw;
    background-image: linear-gradient(to top, #4b99fd, #4185f7);
    margin: 0 0.5vw;
    cursor:default;
}

.numberAnswer{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 45px;
    border: none;
    width: 13vw;
    height: 10vh;
    border-radius: 1vw;
    background-image: linear-gradient(to top, #4b99fd, #4185f7);
    margin: 0 1vw;
    display: flex;
    justify-content:space-around;
    cursor:default;
    align-items: center; 
}

.adivinarNumero{
    font-family: 'Roboto', sans-serif;
    color: #6cc6ff;
    font-size: 75px;
    font-weight: 600;
    border: none;
    text-align: center;
    width: 6vw;
    height: 12vh;
    border-radius: 1vw;
    background-color: white;
    box-shadow: 0 2vh #6cc6ff;
    margin: 2vh 1vw;
}
.adivinarNumero:focus{
    outline:none;
    box-shadow: 0 0 4px #5b59b6, 0px 15px #6cc6ff;
}

#contenedorAdivinarNum{
    margin-bottom: 2vh;
}

/* Modal */
.modal-content {
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 40%; /* Could be more or less, depending on screen size */
}

.close { 
    color: #aaa;
    float: right;
    font-size: 50px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

.modal-rendirse{
    background: linear-gradient(to right, #d798ff, #9f77fe);
    border-radius: 2em;
}

.inputInstrucciones[type="checkbox"]{
    transform: scale(1.5)
}

#checkbox{
    margin: 1.75vh 0.5vw 0 0;
}

.fondoGanaste{
    background-image: url(../multimedia/jugar/ganaste.svg);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
}

.margenGanaste{
    padding-top: 38vh;
}

.rta{
    margin-top: -1vh;
}

#rta{
    color: #69514c;
    padding: 1vh 0;
}

.escribi{
    color: white;
    font-weight: 400;
    text-align: start;
    margin-bottom: 1vh;
}

#escribirNombre p{
    color: red;
}

input::placeholder{
    padding-left: 1vw;
}

#nombreUsuario{
    background:linear-gradient(to right, #7ebb3b, #64b44c);
    border-color: white;
    border-style: solid;
    border-radius: 0.5vw;
    width: 90%;
    height: 3vh;
    font-size: 17px;
}

#sabias{
    font-style: italic;
}

#rtaRendirse{
    background-color: white;
    margin-top: 1vh;
    padding: 1vh 1vw;
    border-radius: 2em;
    color: #9f77fe;
}

/* NIVELES */ 
.elegirNivel{
    border: 3px solid white;
    width: 30vw;
    height: 25vh;
    border-radius: 2vw;
    margin: 20vh auto;
}

.nivelCuadrados{
    color: #6cc6ff;
    width: 3vw;
    height: 6vh;
    border-radius: 0.5vw;
    background-color: white;
    box-shadow: 0px 1vh #6cc6ff;
    margin: 1vh 0.5vw;
}

.nivelLineas{
    border: 2px solid white;
    width: 3vw;
    height: 6vh;
    border-radius: 0.5vw;
    margin: 1vh 0.5vw;
}

.masMenos{
    width: 10%;
    margin: auto 0.5vw;
}

.marginTopS{
    margin-top: 4vh;
    margin-bottom: 0vh;
}

/* PUNTAJES */
.puntajes{
    width: 65vw;
    height: 50vh;
    overflow-y: scroll;
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 1vw;
    margin: 1vh auto;
    padding: 5vh 3vw;
}

.titulosPuntaje{
    margin: 2vh 0 0 5vw;
    width: 60vw;
}

/* INSTRUCCIONES */
.instrucciones{
    width: 65vw;
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 1vw;
    margin: 10vh auto 5vh auto;
    padding: 5vh 5vw;
}

.imgSizeG{
    height: 10em;
    margin: 0 3vw; 
}

.imgSize{
    height: 5em;
    margin: 5vh 5vw;
}

.flechas{
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flecha{
    height: 4em;
}
